/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.breadcrumb-item a{
  color: #fff !important;
}

.breadcrumb-item.active {
  color: #fff !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff !important;
}

.title-bottom {
  width: 10%;
  padding: 0 0 var(--cnvs-fancy-title-padding);
  border-bottom: calc(var(--cnvs-fancy-title-border-size) * 2) solid var(--cnvs-themecolor);
}

.color-main {
  color: #ffbe48 !important;
}

.clients {
  max-height: 150px;
}

.grow img{
  transition: 1s ease;
}

.grow img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  cursor: pointer;
}
